.message-area-container {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  height: 500px;
  overflow: scroll;
}
.message-receiver-section {
  width: 100%;
  padding: 5px;
  position: relative;
  margin-top: 15px;
}
.bar {
  position: absolute;
  top: 10px;
  left: 55px;
}
.receiver-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.receiver-name {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-left: 20px;
  height: 100%;
}
.receiver-text-time {
  color: #646668;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  float: left;
}
.receiver-text-div {
  background-color: #007aeb;
  padding: 5px;
  width: fit-content;
  padding-left: 12px;
  margin-top: -20px;
  margin-left: 70px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.receiver-text-body {
  color: white;
  font-size: 13px;
  word-wrap: break-word;
  max-width: 300px;
  display: inline-block;
}

.message-sender-section {
  width: 100%;
  padding: 5px;
  padding-top: 10px;
  margin-top: 60px;
  position: relative;
  border-radius: 10px;
  height: fit-content;
}

.sender-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 750px;
}

.sender-name-ta {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  right: 0px;
  float: right;
}
.sender-text-div {
  background-color: 202224;
  padding: 5px;
  position: relative;
  width: fit-content;
  margin-top: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  float: right;
  margin-right: 75px;
  position: relative;
  background-color: #202224;
}
.sender-text-body {
  color: white;
  font-size: 12px;
  position: relative;
  text-align: left;
  margin-left: 10px;
}
.sender-text-time {
  color: #646668;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  font-style: italic;
  z-index: 2;
  float: left;
  margin-right: 20px;
}
.bar-sender {
  position: absolute;
  right: 80px;
  top: 10px;
  float: right;
}
